##################################
##                              ##
## GMdotnet Vagrant LAMP Stack  ##
## Version 1.1.1                ##
##                              ##
## Vagrant config file          ##
##################################

gmdotnet:
  - host:
      vagrantbox_name: gmweb
      hostname: gmweb
      hostsupdate:
        enable: yes    # enable hostsupdater plugin
        permanent: no  # your changes to /etc/hosts will be permanent
      private_ip: 192.168.250.10
      ram: 1024
      box:
        name: giuseppemorelli/lamp-stack
        check_update: yes
      provision:
        ansible: yes
        script: no
      # SHARED FOLDERS
      share:
      #    - folder:
      #        host_folder: /var/www/myproject.com
      #        vagrant_folder: /var/www/myproject.com
      #    - folder:
      #        host_folder: /mnt/archive
      #        vagrant_folder: /mnt/archive
      # RSYNC FOLDERS
      rsync:
      #    - folder:
      #        host_folder: /mnt/extra/rsync
      #        vagrant_folder: /mnt/extra/rsync
      #        options:
      #            - "-a"
      #            - "-r"
      #            - "-v"
      #            - "-z"
      #            - "--delete"
      #    - folder:
      #        host_folder: /mnt/extra/rsync2
      #        vagrant_folder: /mnt/extra/rsync2
      #        options:
      #            - "-a"
      #            - "-r"
      #            - "-v"
      #            - "-z"
  - host:
      vagrantbox_name: gmdb
      hostname: gmdb
      hostsupdate:
        enable: yes
        permanent: no
      private_ip: 192.168.250.11
      ram: 1024
      box:
        name: giuseppemorelli/lamp-stack
        check_update: yes
      provision:
        ansible: no
        script: yes
      share:
      #    - folder:
      #        host_folder: /var/www/myproject.com
      #        vagrant_folder: /var/www/myproject.com
      #    - folder:
      #        host_folder: /mnt/archive
      #        vagrant_folder: /mnt/archive
      rsync:
      #    - folder:
      #        host_folder: /mnt/extra/rsync
      #        vagrant_folder: /mnt/extra/rsync
      #        options:
      #            - "-a"
      #            - "-r"
      #            - "-v"
      #            - "-z"
      #            - "--delete"
      #    - folder:
      #        host_folder: /mnt/extra/rsync2
      #        vagrant_folder: /mnt/extra/rsync2
      #        options:
      #            - "-a"
      #            - "-r"
      #            - "-v"
      #            - "-z"
  - host:
      vagrantbox_name: gmredis
      hostname: gmredis
      hostsupdate:
        enable: yes
        permanent: no
      private_ip: 192.168.250.12
      ram: 1024
      box:
        name: giuseppemorelli/lamp-stack
        check_update: yes
      provision:
        ansible: no
        script: no
      share:
      #    - folder:
      #        host_folder: /var/www/myproject.com
      #        vagrant_folder: /var/www/myproject.com
      #    - folder:
      #        host_folder: /mnt/archive
      #        vagrant_folder: /mnt/archive
      rsync:
      #    - folder:
      #        host_folder: /mnt/extra/rsync
      #        vagrant_folder: /mnt/extra/rsync
      #        options:
      #            - "-a"
      #            - "-r"
      #            - "-v"
      #            - "-z"
      #            - "--delete"
      #    - folder:
      #        host_folder: /mnt/extra/rsync2
      #        vagrant_folder: /mnt/extra/rsync2
      #        options:
      #            - "-a"
      #            - "-r"
      #            - "-v"
      #            - "-z"