hostname: gmdev
vagrantbox_name: gmdev
private_ip: 192.168.250.10
ram: 2048
share:
    - folder:
        host_folder: /var/www/myproject.com
        vagrant_folder: /var/www/myproject.com
    - folder:
        host_folder: /mnt/extra/folder
        vagrant_folder: /mnt/extra/folder
rsync:
    - folder:
        host_folder: /mnt/rsync/folder/
        vagrant_folder: /var/www/folder_to/deleted
        options:
            - "-a"
            - "-r"
            - "-v"
            - "-z"
            - "--delete"
    - folder:
        host_folder: /mnt/rsync/folder/
        vagrant_folder: /var/www/folder_to/no_deleted
        options:
            - "-a"
            - "-r"
            - "-v"
            - "-z"