##################################
##                              ##
## GMdotnet Vagrant LAMP Stack  ##
## Version 1.1.0                ##
##                              ##
## Ansible playbook             ##
##################################

---

- name: Web host provision
  hosts: gmweb
  sudo: true
  remote_user: root
  roles:
    - web