##################################
##                              ##
## GMdotnet Vagrant LAMP Stack  ##
## Version 1.1.4                ##
##                              ##
## Ansible playbook             ##
##################################

---

- name: Web host provision
  hosts: gmweb
  sudo: true
  remote_user: root
  roles:
    - web
#    - webmin

- name: Database host provision
  hosts: gmdb
  sudo: true
  remote_user: root
  roles:
    - db